<div class="goo-form" [@zoomAnimation]>
  <mat-form-field class="goo-full-width">
    <input
      type="text"
      placeholder="Счет"
      aria-label="Счет"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-radio-group aria-label="Выберите тип операции" [(ngModel)]="ioGroup">
    <mat-radio-button [value]="1">Приход</mat-radio-button>
    <mat-radio-button [value]="2">Расход</mat-radio-button>
  </mat-radio-group>
  <mat-form-field class="goo-full-width mt-1">
    <mat-label>Сумма операции</mat-label>
    <input matInput autocomplete="off" type="number" [(ngModel)]="transactionAmmount" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Выберите дату</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="transactionDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div>
    <div class="d-inline float-right ml-1 mb-1">
      <a
        mat-mini-fab
        color="primary"
        routerLink="/transactions"
        aria-label="Отменить"
      >
        <mat-icon>close</mat-icon>
      </a>
    </div>
    <div class="d-inline float-right mb-1">
      <a
        mat-mini-fab
        color="primary"
        routerLink="/transactions"
        (click)="Add()"
        aria-label="Добавить"
      >
        <mat-icon>check</mat-icon>
      </a>
    </div>
  </div>
</div>
